<!doctype html>
<html>
    <head>
        <meta name="layout" content="smart_main_inst"/>
        <meta name="author" content="rishabh"/>
        <!-- jQuery -->
        <asset:javascript src="jqueryT1.min.js" />
        <!-- Metis Menu Plugin JavaScript -->
        <asset:javascript src="metisMenuT1.min.js" />
        <!-- Custom Theme JavaScript -->
        <asset:javascript src="sb-adminT1.js" />
    </head>
    <body>
        <!-- start page content -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                    </div>
                </div>
                <!-- add content here -->


                <!-- end content here -->
            </div>
        </div>
        <!-- end page content -->
    </body>
</html>